[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-decouple = "==3.3"
psycopg2 = "==2.8.6"
django-debug-toolbar = "==2.2"
sentry-sdk = "==0.17.6"
appdirs = "==1.4.4"
certifi = "==2020.6.20"
distlib = "==0.3.1"
filelock = "==3.0.12"
six = "==1.15.0"
virtualenv = "==20.0.31"
virtualenv-clone = "==0.5.4"
Django = "==3.1.1"
asgiref = "==3.2.10"
attrs = "==20.2.0"
coverage = "==5.3"
iniconfig = "==1.0.1"
install = "==1.3.3"
mccabe = "==0.6.1"
more-itertools = "==8.5.0"
pluggy = "==0.13.1"
py = "==1.9.0"
pycodestyle = "==2.6.0"
pyflakes = "==2.2.0"
pyparsing = "==2.4.7"
pytest = "==6.0.2"
pytz = "==2020.1"
sqlparse = "==0.3.1"
toml = "==0.10.1"
urllib3 = "==1.25.10"
django-test = "*"

[dev-packages]
flake8 = "*"
install = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
model-mommy = "*"

[requires]
python_version = "3.8"
