asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
certifi==2021.5.30
coverage @ file:///tmp/build/80754af9/coverage_1614613670853/work
dj-database-url==0.5.0
dj-static==0.0.6
Django @ file:///tmp/build/80754af9/django_1625585912945/work
django-ckeditor==6.1.0
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.2
django-filter==21.1
django-js-asset==1.2.2
django-taggit==1.5.1
djangorestframework==3.12.4
install==1.3.4
model-mommy==2.0.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
Pillow @ file:///tmp/build/80754af9/pillow_1625655817137/work
psycopg2 @ file:///tmp/build/80754af9/psycopg2_1612298147424/work
python-decouple==3.5
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
six==1.16.0
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
static3==0.7.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
gunicorn
